extends layout2

block content
	a(href='/admin/logout') se déconnecter
	a(href="/admin/create-product") Ajouter un produit

	br 
	br 

	table(border="1" width="100%")
		tr
			th #
			th name 
			th description
			th image
			th(colspan="2") action
		each product in products
				tr
					td= product.idarticle
					td= product.title
					td= product.text  
					td 
						img(src="/img/" + product.thumbnailName height="50")
					td
						button.btn.btn-primary(type='button' href="/admin/edit-product/" + product.idarticle) Modifier
					td 
						button.btn.btn-warning(type='button' href="/admin/delete-product/" + product.idarticle onclick="return confirm('Etes-vous certain de vouloir supprimer cet article?');" ) Supprimer
						
