extends layout

block vars
  - var title='Home Sweet Home - Contactez-nous'

block content

  // form
  main.main-intern
    .container
      h2.realtitle Contactez-nous
      form(method='POST' action='/contact')
        .form-group
          label(for='name')
          input#name.form-control(type='name', placeholder='Votre nom, prénom', name='name')
        .form-group
          label(for='email')
          input#email.form-control(type='email', placeholder='Votre adresse mail: mail@exemple.com', name='email' required)
        .form-group
          label(for='pwd')
          input#subject.form-control(type='text', placeholder='Le sujet', name='subject')
        .form-group
          label(for='comment') Votre demande:
          textarea#comment.form-control(rows='5', placeholder='Votre texte', name='text' required)
        
        .g-recaptcha(data-sitekey='6LcOVDQUAAAAAIXf5Qh5BgqtjXaW2U_JNEFbZVWE')
        br
        br 
        button.btn.btn-primary(type='submit') Envoyer
    
