extends layout

block vars
  - var title='Home Sweet Home décoration d\'intérieur'

block content
    
  header.homehead.vertical-align
    .container
      .intro-text
        h1
          | Home Sweet Home
          hr.star-light
          span Décoration d'intérieur
  main.homemain
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.text-center
          .bigtitle Bienvenue !
          p
            | Décorateur d’intérieur et syliste déco basé à Paris, j’aime les objets et leur histoire, et les mélanger pour en construire de nouvelles. Que ce soit pour décorer des lieux ou mettre en scène des objets pour des marques, je vous propose d’être à l’écoute de vos besoins et de vous accompagner dans vos projets.
  section.backgroundrea#lastreal
    .sous-titre
      h2 DERNIÈRES RÉALISATIONS
    .case-study-gallery
      each article in articles 
        .case-study(style= 'background-image: url(/img/' + article.thumbnailName + ')')
          .case-study__overlay
            h4.case-study__title= article.title
            a.case-study__link(href='#') Voir plus
      
  
