extends layout2

block content
	p=error 
	p=results
	p=fields
	h1 Connect me  
	form(method="POST" action ="/login")
		input(name="username" placeholder="login")
		br
		input(name="password" placeholder="password")
		br
		button(type="submit") Connect