extends layout2

block vars
	- var title='Identification'

block content
	.row
		.col-sm-4.col-sm-offset-4
			p=error 
			p=results
			p=fields

			h1 Accès à l'administration  
			form(method="POST" action ="/login")
				.form-group
					label(for='login') Identifiant
					input#login.form-control(type='text', placeholder='Votre identifiant', name='login')
				.form-group
					label(for='password') Mot de passe
					input#password.form-control(type='password', placeholder='Votre mot de passe', name='password')
				if message
					p.alert.alert-danger=message
				button.btn.btn-primary(type='submit') Se connecter