mixin mainnav(i)
    ul.nav.navbar-nav.navbar-right
      li(class=(!--i) && "active")
        a(href='/') Accueil
      li(class=(!--i) && "active")
        a(href='realisations') Nos réalisations
      li(class=(!--i) && "active")
        a(href='presse') Presse
      li(class=(!--i) && "active")
        a(href='contact') Nous contacter

