extends layout

block vars
  - var title='Home Sweet Home décoration d\'intérieur - revue de presse'

block content
    main.pressmain
      .container
        // Portfolio Section  <main >
        h2.realtitle Revue de presse
        |  
        .row
        each article in articles
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(href=article.url, data-toggle='modal')
              .portfolio-hover
                .portfolio-hover-content
                  
              |                         
              img.img-responsive(src='/img/' + article.thumbnailName, alt='')
            |                     
            .portfolio-caption
              h4= article.title
              |                         
              p.text-muted!= article.text