extends layout
block content

    .container
      .row
        .col-md-12
          .real1title
            .dummy-logo
              h2= article.title
            .detail-description
            p=article.text
    .imgdetail
      img(src='/img/teste.jpg', width='1340', height='894')
    .imgdetail
      img(src='/img/teste.jpg', width='1340', height='894')
    .imgdetail
      img(src='/img/teste.jpg', width='1340', height='894')
    .imgdetail
      img(src='/img/teste.jpg', width='1340', height='894')


    
