extends layout
block content
  
  main
    .container-fluid
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.text-center
            h2.realtitle Nos Réalisations
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis diam, vulputate in risus eu, porttitor condimentum purus. Phasellus ullamcorper, odio id feugiat bibendum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis diam, vulputate in risus eu, porttitor condimentum purus. Phasellus ullamcorper, odio id feugiat bibendum.
  section#portfolio.bg-light-gray
    .container
      .row
      each article in articles
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='/img/' + article.thumbnailName, alt='')
          .portfolio-caption
            h4= article.title
            p.text-muted= article.text
