extends layout

block vars
  - var title='Home Sweet Home décoration d\'intérieur - '+ articles[0].title

block content

    .container
      .row
        .col-md-12
          .real1title
            .dummy-logo
              h2= articles[0].title
            .detail-description
            p!= articles[0].text
      each image in articles
        .row
          .imgdetail
            img.img-responsive(src='/img/' + image.thumbnailName, width='1340')


    
